.photo-grid {
  margin: 0;
  padding: 0;
  margin-left: 48px;
  margin-right: 48px;
  gap: 16px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;

}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 1280px;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    margin: 0 auto;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 1024px;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    margin: 0;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 768px;
    row-gap: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);

  }
}