:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

.body {
  margin: 0;
  padding: 0;
  margin: auto;
  background-color: #E5E5E5;
  max-width: 1280px;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1279px) {
  .body {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1023px) {
  .body {
    max-width: 1024px;
  }
}

@media screen and (max-width: 767px) {
  .body {
    max-width: 768px;
  }
}


.page {
  margin: 0;
  padding: 0;
  max-width: 1280px;
  min-height: 100vh;
  background-color: #2A2C2F;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

}

@media screen and (max-width: 1279px) {
  .page {
    margin: 0 auto;
    max-width: 1280px;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    margin: 0 auto;
    max-width: 1024px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    margin: 0 auto;
    max-width: 768px;
  }
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;

}

@media screen and (max-width: 1279px) {
  .header {
    margin-bottom: 56px;

  }
}

@media screen and (max-width: 1023px) {
  .header {
    margin-bottom: 40px;

  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 48px;

  }
}

.header__logo {
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-left: 48px;
  max-width: 176px;
  max-height: 52px;

}

@media screen and (max-width: 1023px) {
  .header__logo {
    margin-left: 24px;

  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-left: 16px;
    max-width: 142px;
    margin-top: 16px;

  }
}

.header__link {
  margin: 0;
  padding: 0;
  margin-right: 48px;
  margin-top: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

}

@media screen and (max-width: 1023px) {
  .header__link {
    margin-right: 24px;

  }
}

@media screen and (max-width: 767px) {
  .header__link {
    margin-top: 30px;
    margin-right: 16px;
  }
}

.header__lang-link {
  margin: 0;
  padding: 0;
  margin-left: 18px;
  margin-right: 48px;
  margin-top: 46px;
  color: #FFFFFF;
  text-decoration-line: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

}

@media screen and (max-width: 1023px) {
  .header__lang-link {
    margin: 0;
    margin-left: 18px;

  }
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    margin: 0;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 18px;
    line-height: 20px;

  }
}

/* проверить БЭМ модификатора*/
.header__lang-link_on {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-color: white
}

.liad {
  padding: 0;
  margin: 0 auto;
  max-width: 76.875%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

@media screen and (max-width: 1279px) {
  .liad {
    max-width: 90.625%;

  }
}

@media screen and (max-width: 1023px) {
  .liad {
    max-width: 100%;

  }
}

@media screen and (max-width: 767px) {
  .liad {
    max-width: 100%;

  }
}

.liad__title {
  margin: 0 auto;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  word-break: break-all;
  line-height: 100px;
  text-align: center;

}

@media screen and (max-width: 1023px) {
  .liad__title {
    margin: 0;
    max-width: 720px;

  }
}

@media screen and (max-width: 767px) {
  .liad__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;

  }
}

.liad__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 64px;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .liad__subtitle {
    margin: 0;
    padding: 0;
    margin-top: 32px;
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 1023px) {
  .liad__subtitle {
    margin: 0;
    padding: 0;
    margin-top: 32px;
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .liad__subtitle {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}


.liad__image {
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* 984px*/



}

@media screen and (max-width: 1279px) {
  .liad__image {
    max-width: 100;
    /*928px;*/

  }
}


.liad__caption {
  margin: 0;
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  align-self: flex-start;

}

@media screen and (max-width: 1023px) {
  .liad__caption {
    margin-left: 24px;

  }
}

@media screen and (max-width: 767px) {
  .liad__caption {
    margin-left: 16px;

  }
}

.intro {
  margin: 0 auto;
  max-width: 76.875%;
  margin-bottom: 92px;


}

@media screen and (max-width: 1279px) {
  .intro {
    margin: 0 auto;
    max-width: 90.625%;
    /*max-width: 690px;
    margin-left: 48px;*/

  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 auto;
    max-width: 720px;
    margin-bottom: 88px;

  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 0 auto;
    max-width: 100vw;
    margin-bottom: 64px;
    margin-left: 16px;
    margin-right: 16px;

  }
}



.intro__title {
  margin: 0;
  margin-top: 92px;
  margin-bottom: 48px;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 1279px) {
  .intro__title {
    margin-bottom: 40px;

  }
}

@media screen and (max-width: 1023px) {
  .intro__title {
    margin: 0;
    margin-top: 88px;
    margin-bottom: 40px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    margin: 0;
    padding: 0;
    margin-top: 64px;
    margin-bottom: 40px;
    max-width: 100vw;
    font-size: 32px;
    line-height: 35px;
  }
}

.intro__text {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
}


.intro__list {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;

}

.span__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.photo-grid {
  margin: 0;
  padding: 0;
  margin-left: 48px;
  margin-right: 48px;
  gap: 16px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 1280px;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    margin: 0 auto;
    padding: 0;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 1024px;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 768px;
    row-gap: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    /*grid-template-columns: repeat(6, minmax(288px, 1fr));*/
  }
}

.photo-grid__item {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
}

.plases {
  margin: 0 auto;
  margin-top: 12px;
  padding: 0;
  max-width: 984px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .plases {
    margin: 0 auto;
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .plases {
    margin: 0 auto;
    max-width: 720px;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .plases {
    margin: 0 auto;
    max-width: 768px;
   /* max-width: 320px;*/
    margin-top: 0;
  }
}

.plase {
  margin: 0;
  padding: 0;
  max-width: 984px;
  display: grid;
  grid-template-columns: 48.872% 51.271%;
}

@media screen and (max-width: 767px) {
  .plase {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    align-self: flex-start;
    margin-top: 14px;
  }
}

.plase__title {
  margin: 0;
  padding: 0;
  margin-top: 80px;
  max-width: 484px;
  max-height: 100%;
  padding-bottom: 48px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;

}

@media screen and (max-width: 1023px) {
  .plase__title {
    margin-top: 88px;
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
    font-weight: 900;
  }
}
/*
@media screen and (max-width: 1023px) {
  .plase__title {
    margin-top: 88px;
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
    font-weight: 900;
  }
}  возможно есть ошибка*/

@media screen and (max-width: 767px) {
  .plase__title {
    margin-top: 50px;
    padding-bottom: 32px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-right: 16px;
    margin-left: 16px;

  }
}


.plase__image {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

@media screen and (max-width: 1023px) {
  .plase__image {
    margin: 0;
    padding: 0;
    max-width: 340px;

  }
}

@media screen and (max-width: 767px) {
  .plase__image {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    max-width: max-content;

  }
}

.plase__website {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;

}

@media screen and (max-width: 1279px) {
  .plase__website {
    padding-left: 32px;

  }
}

@media screen and (max-width: 1023px) {
  .plase__website {
    max-width: 352px;
    padding-left: 28px;

  }
}

@media screen and (max-width: 767px) {
  .plase__website {
    align-self: flex-start;
    margin-bottom: 32px;
    padding-left: 14px;

  }
}


.website__url-heading {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 20.4px;
  Letter-spacing: 2px;
  text-decoration: none;
  color: #FFFFFF;


}

@media screen and (max-width: 1023px) {
  .website__url-heading {
    line-height: 12px;

  }
}

.website__link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 1;

}

.website__link:hover {
  opacity: 0.8;
}

.plase__paragraph {
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  padding-left: 40px;
  max-width: max-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  grid-column: 2;

}

@media screen and (max-width: 1279px) {
  .plase__paragraph {
    padding-left: 32px;
    padding-bottom: 27px;

  }
}

@media screen and (max-width: 1023px) {
  .plase__paragraph {
    padding-left: 28px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 26.08px;

  }
}
@media screen and (max-width: 767px) {
  .plase__paragraph {
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 163%;

  }
}



.plase__paragraph:last-child {
  padding-bottom: 0;
}

.cover {
  margin: 0 auto;
  margin-top: 92px;
  max-width: 92.5%;
  background-image: url(./images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1279px) {
  .cover {
    margin: 0 auto;
    margin-top: 92px;
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin: 0 auto;
    margin-top: 90px;

  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 0 auto;
    margin-top: 66px;

  }
}

.cover__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  text-decoration: none;
  max-height: 740px;
  height: auto;
  background: rgba(42, 44, 47, 0.3);
}

@media screen and (max-width: 1280px) {
  .cover__overlay {
    max-height: 640px;
  }
}



.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
}

.cover__content {

  display: flex;
  flex-direction: column;
  color: white;


}

.cover__title {
  margin: 0;
  padding: 0;
  margin-top: 245px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  align-self: center;
  max-width: 560px;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    margin-top: 33px;
    font-size: 32px;
    line-height: 35px;
  }
}

.cover__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  padding-bottom: 245px;
  align-self: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
}

@media screen and (max-width: 1279px) {
  .cover__subtitle {
    padding-bottom: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    padding-bottom: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
    padding-bottom: 33px;
    font-size: 14px;
    line-height: 16px; 
  }
}

.footer {
  margin: 0;
  padding: 0;
  margin-top: 92px;
  margin-bottom: 24px;
  margin-left: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

}

@media screen and (max-width: 1023px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 0;
    margin-top: 64px;
    margin-left: 16px;
    display: block;
  }
}

.footer__links {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  gap: 18px;

}

@media screen and (max-width: 767px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
  }
}

.footer__link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;

}

@media screen and (max-width: 767px) {
  .footer__link {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__avtor {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-right: 48px;
}

@media screen and (max-width: 767px) {
  .footer__avtor {
    margin: 0;
    margin-right: 16px;
    margin-top: 48px;
    padding-bottom: 24px;
    line-height: 14px;
  }
}