:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
    margin: 0;
    padding: 0;
    max-width: 1024px;
    /*background-color: #2A2C2F;*/
    margin: auto;
    font-family: 'Inter', sans-serif;

    
       
}
.page {
    max-width: 1024px;
    min-height: 100vh;
    background-color: #2A2C2F;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;  

    
}
.header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 28px 46px 48px 28px;
    
}

.header__logo {
  max-width: 176px;
  max-height: 52px;

}
/* сделать эффект при наведении*/
.header__logo:hover {
    
}

.header__link {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

}
/* сделать подчеркивание под RU*/
.header__lang-link {
    margin: 0;
    margin-left: 18px;
    color: #FFFFFF;
    text-decoration-line: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
}
.header__lang-link:hover {
    text-decoration: underline;
    text-decoration-color: blue;
}
.liad {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}
.liad__title {
    margin: 0;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;   
}
.liad__subtitle {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 56px;
    max-width: 640px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}


.liad__image {
 max-width: 100%;
 max-height: 580px;
 margin-right: 48px;
 margin-left: 48px;

}
.liad__caption {
  margin: 0;
  margin-top: 8px;
  margin-left: 48px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  align-self: flex-start;
  
} 
.intro{
    margin: 0;
    max-width: 690px;
    margin-left: 48px;
    margin-bottom: 40px;
    

}
.intro__title {
  margin: 0;
  margin-top: 92px;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
.intro__text {
   
    margin: 0;
    padding: 0;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
}
.intro__list {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  margin-bottom: 92px;
}
.photo-grid {
    margin: 0;
    padding: 0;
    margin: 0 48px 92px 48px;
    max-width: 928px;
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.photo-grid__item {
  margin: 0;  
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.plases {
    display: flex;
    flex-direction: column;
}
.plase {
    margin: 0;
    padding: 0;
    margin: 0 48px 92px 48px;
    max-width: 928px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr)); 
    
    
}
.plase__title {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 48px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
 

}
.plase__image {
  margin: 0;  
  max-width: 440px;
  object-fit: cover; 
 
}
.plase__website {
    margin: 0;
    padding: 0;
    margin-bottom: 21px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;

}
.website__url-heading {
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 12px; 
    Letter-spacing: 2px;
    text-decoration: none;
    color: #FFFFFF;

}
.website__link {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; 
  color: #FFFFFF;
  
}
.plase__paragraph {
    margin: 0;
    padding: 0;
    padding-bottom: 27px;
    margin-left: 32px;
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;  
    grid-column: 2;
    

    /*grid-area: paragraph;*/
}
.plase__paragraph:last-child{
    padding-bottom: 0;  
}










/* grid-template-columns: minmax(440px, 460px) minmax(456px, 484px); возможно, для plase__image*/