.header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 64px;
    
  }
  
  @media screen and (max-width: 1279px) {
    .header {
      margin-bottom: 56px;
  
    }
  }
  
  @media screen and (max-width: 1023px) {
    .header {
      margin-bottom: 40px;
  
    }
  }
  
  @media screen and (max-width: 767px) {
    .header {
      margin-bottom: 48px;
  
    }
  }