.plase__image {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  
  }
  
  @media screen and (max-width: 1023px) {
    .plase__image {
      max-width: 340px;
  
    }
  }
  
  @media screen and (max-width: 767px) {
    .plase__image {
      margin-bottom: 32px;
      max-width: max-content;
  
    }
  }
  