.footer__links {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    gap: 18px;
  
  }
  
  @media screen and (max-width: 767px) {
    .footer__links {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 32px;
    }
  }