.plase {
  margin: 0;
  padding: 0;
  display: grid;
  column-gap: 40px;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
}


@media screen and (max-width: 1023px) {
  .plase {
    column-gap: 28px;
    grid-template-columns: 47.222% 48.89%;
  }
}


@media screen and (max-width: 767px) {
  .plase {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    align-self: flex-start;

  }
}