.plase__url-heading {
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 20.4px;
    letter-spacing: 2px;
    color: #AAAAAA;
  
  
  }
  
  @media screen and (max-width: 1023px) {
    .plase__url-heading {
      line-height: 12px;
  
    }
  }