.cover__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    text-decoration: none;
    max-height: 740px;
    height: auto;
    background: rgba(42, 44, 47, 0.3);
  }
  
  @media screen and (max-width: 1280px) {
    .cover__overlay {
      max-height: 640px;
    }
  }
  
  
  
  .cover__overlay:hover {
    background: rgba(42, 44, 47, 0.8);
  }