.cover__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  text-decoration: none;
  min-height: 740px;
  height: auto;
  background: rgba(42, 44, 47, 0.3);
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
}