.footer {
    margin: 0;
    padding: 0;
    margin-top: 92px;
    margin-bottom: 24px;
    margin-left: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  
  }
  
  @media screen and (max-width: 1023px) {
    .footer {
      margin-top: 88px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .footer {
      margin: 0;
      margin-top: 64px;
      margin-left: 16px;
      display: block;
    }
  }