.intro__title {
  margin: 0;
  margin-top: 92px;
  margin-bottom: 48px;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 1279px) {
  .intro__title {
    margin-bottom: 40px;

  }
}

@media screen and (max-width: 1023px) {
  .intro__title {
    margin-top: 88px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    padding: 0;
    margin-top: 64px;
    max-width: 100vw;
    font-size: 32px;
    line-height: 35px;
  }
}